:root {
    --primary: #192127;
    --primary-hover: #202c34;
    --secondary: #e06c4f;
    --secondary-hover: #ec7355;
    --light: #e8eef1;
    --light-hover: #e8eef1;
}

html,
body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body * {
    transition: 0.1s;
}

body {
    background-color: var(--light);
    font-family: 'Roboto', sans-serif;
}

#landing {
    font-family: 'Aladin', cursive;
    background-color: var(--primary);
    color: var(--light);
}

.navbar {
    text-align: center;
}

.navbar-brand {
    font-size: 2.2em;
    color: var(--light);
    text-decoration: none !important;
}

#menu-tabs .nav-item .nav-link {
    text-decoration: none;
    color: var(--light);
    border-radius: 7px 7px 0px 0px;
}

#menu-tabs .nav-item .nav-link:hover {
    background-color: var(--primary-hover);
}

#menu-tabs .nav-item .active {
    background-color: var(--light) !important;
    color: var(--primary) !important;
}

#calendar-wrapper {
    max-width: 800px;
}

#month-summary {
    border: 1px solid #dcdfe3;
    background-color: #e0e6ef;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

#calendar {
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

#calendar,
#calendar th,
#calendar tr,
#calendar td {
    border: none;
}

#calendar td {
    border: 1px solid #dcdfe3;
    background-color: #e1e5ea;
}

#calendar-head tr th {
    background-color: #e06c4f;
    border-bottom: 1px solid #e06c4f;
    color: #FFF;
}

#calendar-body td.cell {
    background-color: #e6ebf3;
}

#calendar td.event {
    /* border: 1px solid #a1bcf1; */
    border-left: 4px solid #648fe5 !important;
    background-color: #d5dff3 !important;
}